<section class="key-section">
  <picture class="grad-img-one">
    <source media="(min-width: 768px)" 
            srcset="/img/features/img-grad-1.png 1x, /img/features/img-grad-1@2x.png 2x" />
    <source media="(max-width: 767px)" 
            srcset="img/features/img-grad-tel-1.png 1x, /img/features/img-grad-tel-1@2x.png 2x" />
    <img src="/img/features/img-grad-1.png" alt="" aria-hidden="true">
  </picture>

  <picture class="grad-img-two">
    <source media="(min-width: 768px)" 
            srcset="/img/features/img-grad-2.png 1x, /img/features/img-grad-2@2x.png 2x" />
    <source media="(max-width: 767px)" 
            srcset="img/features/img-grad-tel-2.png 1x, /img/features/img-grad-tel-2@2x.png 2x" />
    <img src="/img/features/img-grad-2.png" alt="" aria-hidden="true">
  </picture>

  <div class="container">
    <h2 class="section-title key-title">Key features</h2>
    <p class="key-text">Get the best mobile experience with our Mobileapp. With a user-friendly interface, personalized recommendations, secure transactions, and real-time updates, our app offers everything you need to stay connected and productive</p>
    
    <picture class="key-img">
      <source media="(min-width: 1158px)" 
              srcset="/img/features/img-desk.png 1x, /img/features/img-desk@2x.png 2x" />
      <source media="(min-width: 768px)" 
              srcset="/img/features/img-tab.png 1x, /img/features/img-tab@2x.png 2x" />
      <source media="(max-width: 767px)" 
              srcset="img/features/img-tel.png 1x, /img/features/img-tel@2x.png 2x" />
      <img src="/img/features/img-desk.png" alt="features Image">
    </picture>

    <ul class="key-list">
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">User-Friendly Interface:</p>
          <p class="list-text">Intuitive and easy-to-navigate interface designed to provide a seamless mobile experience for users.</p>
        </div>
      </li>
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">Personalized Recommendations:</p>
          <p class="list-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
        </div>
      </li>
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">Real-Time Updates:</p>
          <p class="list-text">Users receive real-time updates and notifications to stay informed on important news and events, and to stay up-to-date with changes to the app.</p>
        </div>
      </li>
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">Integration with Other Apps:</p>
          <p class="list-text">The app integrates with other popular apps, making it easy for users to connect with their social media accounts, or to easily make in-app purchases using their preferred payment method.</p>
        </div>
      </li>
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">Multi-Language Support:</p>
          <p class="list-text">The app is designed to be accessible to users all around the world, with support for multiple languages, making it easier for people to use the app in their native language.</p>
        </div>
      </li>
      <li class="key-item">
        <img src="/img/features/icon.svg" alt="">
        <div class="text-wrap">
          <p class="list-title">Offline Capabilities:</p>
          <p class="list-text">The app offers offline capabilities, allowing users to access certain features and content even when they are not connected to the internet.</p>
        </div>
      </li>
    </ul>
  </div>
</section>