<section class="feedback-section" id="feedback">
  <div class="container">
    <h2 class="section-title feedback-title">What our costumer’s say</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <img
          class="feedback-img"
          srcset="/img/feedback/jon.png 1x, /img/feedback/jon@2x.png 2x"
          alt="Jon Doe"
        />
        <p class="feedback-item-name">Jon Doe</p>
        <p class="feedback-item-desk">Company Inc.</p>
        <p class="feedback-item-text">
          I've been using this app for a few weeks now and I have to say, I'm
          really impressed. It's so easy to use and the personalized
          recommendations are spot-on. Plus, the transactions are secure and the
          updates are always timely. I would definitely recommend this app to
          anyone looking for a better mobile experience.
        </p>
      </li>
    </ul>
    <ul class="pag">
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
      <li class="pag-item">
        <svg class="icon-pag" width="6" height="6">
          <use href="/img/icons.svg#icon-pag"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
