<section class="section-footer" id="footer">
  <div class="container">
    <h2 class="section-title footer-title">Contact us</h2>
    <div class="footer-wrapper">
      <form class="fotter-form">
        <label class="form-label" for="name">
          <input
            class="form-input"
            type="text"
            id="name"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="form-label" for="email">
          <input
            class="form-input"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="form-label" for="comment">
          <textarea
            class="comment"
            id="comment"
            name="comment"
            placeholder="Message"
          ></textarea>
        </label>
        <button class="btn form-btn" type="submit">Submit</button>
      </form>

      <p class="fotter-text">Get in touch with us</p>
      <p class="fotter-desk">
        Have a question or comment about our app? Get in touch with us using the
        contact form below and our team will respond shortly.
      </p>

      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.facebook.com" class="social-link">
            <svg class="social-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://x.com" class="social-link">
            <svg class="social-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="https://ua.linkedin.com/" class="social-link">
            <svg class="social-icon" width="20" height="20">
              <use href="/img/icons.svg#icon-in"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="fotter-adress">
        <a class="footer-link" href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a>

        <a class="footer-link" href="mailto:goIteens@gmail.com"
          >goIteens@gmail.com</a
        >
      </address>
    </div>

    <p class="fotter-info">
      &copy; 2019 GoIteens Template. All Rights Reserved
    </p>

    <svg width="0" height="0" style="position: absolute">
      <defs>
        <linearGradient
          id="my-gradient"
          x1="0%"
          y1="0%"
          x2="100%"
          y2="0%"
          gradientTransform="rotate(99)"
        >
          <stop offset="0%" stop-color="#00c5eb" />
          <stop offset="100%" stop-color="#b544fe" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>
