<section class="section-footer">
    <div class="container">
        <h2 class="section-title">Contact us</h2>
        <form class="fotter-form">
            <label class="form-label" for="name">
                <input class="form-input" type="text" id="name" name="name" placeholder="Name"> 
            </label>
            <label class="form-label" for="email">
                <input class="form-input" type="email" id="email" name="email" placeholder="Email">
            </label>
            <label class="form-label" for="comment">
                <textarea class="comment" id="comment" name="comment" placeholder="Message"></textarea>
            </label>
            <button class="btn form-btn" type="submit">Submit</button>
        </form>
        <p class="fotter-text">Get in touch with us</p>
        <p class="fotter-desk">Have a question or comment about our app? Get in touch with us using the contact form below and our team will respond shortly.</p>

        <ul class="social-list">
            <li class="social-item">
               <a href="" class="social-link">
                    <svg class="download-icon" width="6" height="6">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
               </a>
            </li>
            <li class="social-item">
         <a href="" class="social-link">
                    <svg class="download-icon" width="6" height="6">
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
         </a>
            </li>
            <li class="social-item">
            <a href="" class="social-link">
                    <svg class="download-icon" width="6" height="6">
                <use href="/img/icons.svg#icon-in"></use>
              </svg>
            </a>
            </li>
        </ul>

        <address>
            <a href="">+xx-xxxx-xxxx-xx</a>
            <a href="">goIteens@gmail.com</a>
        </address>

        <p class="fotter-info">2019 GoIteens Template. All Rights Reserved</p>
    </div>
</section>