<div class="mobile-menu">
  <button class="close-btn menu-btn-close" type="button">
    <svg class="close-icon" width="32" height="32">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="mob-nav">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
          Mobileapp</a>

        <ul class="mob-list">
          <li class="mob-item">
            <a class="mob-link" href="#hero">Home</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="#features">Features</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="#team">Team</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="#feedback">Testimonials</a>
          </li>
          <li class="mob-item">
            <a class="mob-link" href="#location">Contact</a>
          </li>
        </ul>
  </nav>
  <img class="menu-gradient" src="/img/mob-menu/gradient.png" alt="">
</div>