<div class="modal-backdrop is-open">
  <div class="modal">
    <button class="close-btn-modal" type="button">
      <svg class="icon-modal-close" width="24" height="24">
        <use href="/img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <p class="modal-title">Download</p>
    <div class="dowload-wrap">
      <div class="first download">
        <svg class="icon-download" width="80" height="106">
          <use href="/img/icons.svg#icon-file-download"></use>
        </svg>
        <p class="download-title">Download free plan</p>
        <ul class="download-list">
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Basic functionality
          </li>
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Limited access
          </li>
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Community support
          </li>
        </ul>
      </div>
      <div class="second download">
        <svg class="icon-download" width="80" height="106">
          <use href="/img/icons.svg#icon-file-download"></use>
        </svg>
        <p class="download-title">Download for 20$</p>
        <ul class="download-list">
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Ad-free experience
          </li>
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Unlock exclusive features
          </li>
          <li class="download-item">
            <svg class="icon-arrow" width="14" height="14">
              <use href="/img/icons.svg#icon-right-arrow"></use>
            </svg>
            Content for the ultimate mobile experience
          </li>
        </ul>
      </div>
    </div>
    <p class="modal-text">
      No matter which plan you choose, we're excited to have you as part of our
      community of mobile app users!
    </p>
    <ul class="modal-list">
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-file-text"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">App name</p>
          <p class="item-desk">Mobileapp.layout</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-zip"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">License</p>
          <p class="item-desk">Free</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-user"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">Author</p>
          <p class="item-desk">Mobile Marrket App.com</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-calendar"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">Data</p>
          <p class="item-desk">21.02.2022</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-eos"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">OC</p>
          <p class="item-desk">Windows</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-lang"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">Language</p>
          <p class="item-desk">English</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-weight"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">Size</p>
          <p class="item-desk">4.16 MB</p>
        </div>
      </li>
      <li class="modal-item">
        <svg class="icon-modal-item" width="28" height="28">
          <use href="/img/icons.svg#icon-download"></use>
        </svg>
        <div class="item-text-wrap">
          <p class="item-name">Downloads</p>
          <p class="item-desk">964</p>
        </div>
      </li>
    </ul>
    <button class="btn modal-button" type="button">Download</button>
  </div>
</div>
