<section class="section-team">
<div class="container">
    <h2 class="section-title">Our team</h2>
    <p class="team-text">Our team is made up of talented and passionate individuals who are committed to providing the best experience for our users. Each member brings a unique set of skills and expertise to the table, allowing us to work collaboratively and effectively to achieve our goals.</p>
    <ul class="team-list">
        <li class="team-item">
         <picture class="team-img">
      <source media="(min-width: 1158px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(min-width: 768px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(max-width: 767px)" 
              srcset="img/team/.png 1x, /img/team/@2x.png 2x" />
      <img src="/img/team/.png" alt="David Patel">
    </picture>
       <div class="team-text-wrapper">
            <p class="team-card-name">David Patel</p>
            <p class="team-card-text">Managing Direcor</p>
       </div>
    </li>

     <li class="team-item">
               <picture class="team-img">
      <source media="(min-width: 1158px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(min-width: 768px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(max-width: 767px)" 
              srcset="img/team/.png 1x, /img/team/@2x.png 2x" />
      <img src="/img/team/.png" alt="Rachel Kim">
    </picture>
       <div class="team-text-wrapper">
            <p class="team-card-name">Rachel Kim</p>
            <p class="team-card-text">Lead Designer</p>
       </div>
    </li>

    <li class="team-item">
             <picture class="team-img">
      <source media="(min-width: 1158px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(min-width: 768px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(max-width: 767px)" 
              srcset="img/team/.png 1x, /img/team/@2x.png 2x" />
      <img src="/img/team/.png" alt="Samantha Chen">
    </picture>
       <div class="team-text-wrapper">
            <p class="team-card-name">Samantha Chen</p>
            <p class="team-card-text">Lead Developer</p>
       </div>
    </li>


    <li class="team-item">
         <picture class="team-img">
      <source media="(min-width: 1158px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(min-width: 768px)" 
              srcset="/img/team/.png 1x, /img/team/@2x.png 2x" />
      <source media="(max-width: 767px)" 
              srcset="img/team/.png 1x, /img/team/@2x.png 2x" />
      <img src="/img/team/.png" alt="Andrew Nguyen">
    </picture>
       <div class="team-text-wrapper">
            <p class="team-card-name">Andrew Nguyen</p>
            <p class="team-card-text">Sr. UI Designer</p>
       </div>
    </li>
    </ul>
</div>
</section>