html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: #000000;
  background-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 700;
font-size: 24px;
}

button {
  cursor: pointer;
  border: none;
}

body:has(.modal-backdrop.subscription-open) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.btn { 
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: none;
  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  
  color: white;
  font-weight: 700;
  cursor: pointer;
}


@media (hover: hover) {
  .btn:hover,
  .btn:focus {
    background: #06071b; 
  }

  .btn:hover::before,
  .btn:focus::before {
    opacity: 1;
  }
}

.section-title {
  font-weight: 700;
font-size: 20px;
color: #000;
text-transform: uppercase;
text-align: center;
}

@media screen and (min-width: 768px) {
 .section-title {
   font-size: 24px;
 }
} 