html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  color: #000000;
  background-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 24px;
}

button {
  cursor: pointer;
  border: none;
}

body:has(.modal-backdrop:not(.is-hidden)) {
  overflow: hidden;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  border: 1px solid transparent;
  border-radius: 5px;

  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%),
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .btn:hover,
  .btn:focus {
    background-image: linear-gradient(#06071b, #06071b),
      linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);

    color: #ffff;
  }
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
  }
}
