.key-section {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .key-section {
    padding: 100px 0 47px 0;
  }
}

@media screen and (min-width: 1440px) {
  .key-section {
    padding: 100px 0;
  }
}

.key-title {
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .key-title {
    margin-bottom: 80px;
  }
}

.key-text {
  text-align: center;
  line-height: 1.43;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .key-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .key-text {
    max-width: 855px;
    margin: 0 auto 56px;
  }
}

.key-img {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .key-img {
    position: absolute;
    left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .key-img {
    left: 50%;
    transform: translateX(-50%);
  }
}

.key-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .key-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 71px;
    row-gap: 50px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .key-list {
    max-width: 973px;
    margin: 117px auto 0;
    column-gap: 454px;
    row-gap: 54px;
  }
}

.key-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .key-item {
    max-width: 318px;
    gap: 13px;
    grid-column: 2;
  }

  .key-item:nth-child(5) {
    grid-row: 5;
  }

  .key-item:nth-child(6) {
    grid-column: 1;
    grid-row: 5;
    justify-self: end;
    align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .key-item {
    grid-column: auto !important;
    grid-row: auto !important;
    max-width: 258px;
    justify-self: stretch;
    align-self: start;
    gap: 8px;
  }

  .key-item:nth-child(5),
  .key-item:nth-child(6) {
    grid-column: auto !important;
    grid-row: auto !important;
    justify-self: stretch;
    flex-direction: row;
    text-align: left;
  }
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .text-wrap {
    gap: 13px;
  }
}

.list-title {
  font-weight: 700;
  line-height: 1.43;
}

@media screen and (min-width: 768px) {
  .list-title {
    font-size: 16px;
    line-height: 1.5;
  }
}

.list-text {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .list-text {
    font-size: 14px;
  }
}

.grad-img-one,
.grad-img-two {
  position: absolute;
  z-index: -5;
  width: 100%;
  left: 0;
  pointer-events: none;
}

.grad-img-one img,
.grad-img-two img {
  display: block;
  width: 100%;
  height: auto;
}

.grad-img-one {
  top: -200px;
}

.grad-img-two {
  bottom: -200px;
}

@media screen and (min-width: 768px) {
  .grad-img-one {
    width: auto;
    top: -145px;
    right: 0;
    left: auto;
  }

  .grad-img-two {
    width: auto;
    bottom: -150px;
    left: 0;
    right: auto;
  }

  .grad-img-one img,
  .grad-img-two img {
    width: auto;
    max-width: 100%;
  }
}