.key-section {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
  background-image: url('/img/features/back-tel.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .key-section {
    background-image: url('/img/features/back-tel@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .key-section {
    background-image: url('/img/features/back-tabl.png');
  }
  @media (min-resolution: 192dpi) {
    .key-section {
      background-image: url('/img/features/back-tabl@2x.png');
    }
  }
}

@media screen and (min-width: 768px) {
  .key-section {
    padding: 100px 0 47px 0;
  }
}

@media screen and (min-width: 1280px) {
  .key-section {
    padding: 100px 0;
  }
}

.key-title {
  margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .key-title {
    margin-bottom: 80px;
  }
}

.key-text {
  text-align: center;
  line-height: 1.43;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .key-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .key-text {
    max-width: 855px;
    margin: 0 auto 56px;
  }
}

.key-img {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .key-img {
    position: absolute;
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .key-img {
    left: 50%;
    transform: translateX(-50%);
  }
}

.key-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .key-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 71px;
    row-gap: 50px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .key-list {
    max-width: 973px;
    margin: 117px auto 0;
    column-gap: 454px;
    row-gap: 54px;
  }
}

.key-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .key-item {
    max-width: 318px;
    gap: 13px;
    grid-column: 2;
  }

  .key-item:nth-child(5) {
    grid-row: 5;
  }

  .key-item:nth-child(6) {
    grid-column: 1;
    grid-row: 5;
    justify-self: end;
    align-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .key-item {
    grid-column: auto !important;
    grid-row: auto !important;
    max-width: 258px;
    justify-self: stretch;
    align-self: start;
    gap: 8px;
  }

  .key-item:nth-child(5),
  .key-item:nth-child(6) {
    grid-column: auto !important;
    grid-row: auto !important;
    justify-self: stretch;
    flex-direction: row;
    text-align: left;
  }
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .text-wrap {
    gap: 13px;
  }
}

.list-title {
  font-weight: 700;
  line-height: 1.43;
}

@media screen and (min-width: 768px) {
  .list-title {
    font-size: 16px;
    line-height: 1.5;
  }
}

.list-text {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .list-text {
    font-size: 14px;
  }
}
