.section-footer {
  background-color: #06071b;
  color: #ffff;
  padding: 40px 0 22px;

  background-image: url('/img/footer/footer-grad-tel.svg');
  background-repeat: no-repeat;
  background-position: start;
  background-size: 100% auto;
}

@media screen and (min-width: 768px) {
  .section-footer {
    padding: 74px 0 28px;
    background-image: url('/img/footer/footer-grad-tabl.svg');
  }
}

@media screen and (min-width: 1280px) {
  .section-footer {
    padding: 80px 0 21px;
    background-image: url('/img/footer/footer-grad-desk.svg');
  }
}

.footer-title {
  color: #ffff;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title {
    margin-bottom: 80px;
  }
}

.fotter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .fotter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .fotter-form {
    grid-column: 2;
    grid-row: 1 / 6;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .form-label:nth-child(3) {
    grid-column: 1 / 3;
  }
}

.form-input {
  width: 100%;
  padding: 12px 8px;
  border-radius: 5px;
}

.form-input::placeholder {
  color: #939eac;
}

@media screen and (min-width: 1280px) {
  .form-input {
    width: 288px;
  }
}

.comment {
  resize: none;
  width: 100%;
  border-radius: 5px;
  height: 220px;
  padding: 12px 8px;
}

.comment::placeholder {
  color: #939eac;
}

@media screen and (min-width: 768px) {
  .comment {
    grid-column: span 2;
    width: 100%;
    height: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .comment {
    width: 608px;
  }
}

.form-btn {
  border-radius: 5px;
  width: 181px;
  padding: 12px 59px;
  margin: 0 auto;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .form-btn {
    grid-column: 1 / 3;
    margin: 0;
    justify-self: center;
  }
}

@media screen and (min-width: 1280px) {
  .form-btn {
    justify-self: end;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 104px;
    align-items: start;
  }

  .fotter-text,
  .fotter-desk,
  .social-list,
  .fotter-adress {
    grid-column: 1;
  }
}

.fotter-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .fotter-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .fotter-text {
    text-align: start;
  }
}

.fotter-desk {
  text-align: center;
  margin-bottom: 49px;
}

@media screen and (min-width: 768px) {
  .fotter-desk {
    font-size: 16px;
    width: 500px;
    margin: 0 auto 40px;
  }
}

@media screen and (min-width: 1280px) {
  .fotter-desk {
    text-align: start;
    margin: 0 0 20px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .social-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .social-list {
    margin-bottom: 20px;
    justify-content: start;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;

  background-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%),
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
}

.social-icon {
  fill: #ffffff;
  stroke: transparent;
  stroke-width: 1px;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .social-link:hover,
  .social-link:focus {
    background-image: linear-gradient(#06071b, #06071b),
      linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  }

  .social-link:hover .social-icon {
    fill: transparent;
    stroke: url(#my-gradient);
  }
}

.fotter-adress {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-link {
  font-size: 16px;
  text-align: center;
  font-style: normal;
  display: inline-block;
  transform-origin: left;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .footer-link {
    font-size: 16px;
    text-align: start;
  }
}

.footer-link:hover,
.footer-link:focus {
  transform: scale(1.05);
  color: #87cefa;
}

@media screen and (min-width: 1280px) {
  .footer-link {
    text-align: start;
  }
}

.fotter-info {
  margin-top: 62px;
  position: relative;
}

.fotter-info::before {
  content: '';
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .fotter-info {
    margin-top: 102px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .fotter-info {
    margin-top: 101px;
  }
}
