.header-section {
  position: absolute;
  z-index: 4;
  top: 20px;
  width: 100%;
  padding: 14px 0;
  background: linear-gradient(99deg, rgba(0, 197, 235, 0.3) 0%, rgba(181, 68, 254, 0.3) 100%);
}

@media screen and (min-width: 1440px) {
 .header-section {
  padding: 19px 0;
   top: 26px;
}
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-weight: 400;
font-size: 28px;
color: #fff;
}

.burger-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-icon {
  stroke: #ffff;
}

.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.menu-link {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}