.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #07081c;
  color: #fff;
  width: 100%;
  height: 100%;

  padding: 48px 24px;
  border-radius: 15px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding: 32px 40px;
    max-height: calc(100% - 60px);
  }
}

.close-btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #fff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }
}

.download {
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 6px;
  width: 232px;
  height: 394px;
  padding: 28px 40px 48px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .download {
    width: 233px;
    padding: 28px 33px 48px 38px;
  }
}

.first {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  margin-bottom: 20px;
}

.second {
  border: 2px solid transparent;

  background-image: linear-gradient(#07081c, #07081c),
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);

  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .first,
  .second {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .dowload-wrap {
    display: flex;
    gap: 22px;
    margin-bottom: 32px;
  }
}

.icon-download {
  margin: 0 auto 20px;
  display: block;
}

.download-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.download-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
}

.download-item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.icon-arrow {
  position: absolute;
  flex-shrink: 0;
  top: 5px;
  left: -18px;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
  width: 232px;
  margin: 0 auto 25px;
}

@media screen and (min-width: 768px) {
  .modal-text {
    width: 448px;
    margin: 0 0 32px;
  }
}

.modal-list {
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 20px 22px 20px 20px;
  background-image: linear-gradient(#07081c, #07081c),
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 6px;
  width: 232px;
  margin: 0 auto 20px;
}

.modal-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-item:not(:last-child) {
  margin-bottom: 20px;
}

.modal-item:nth-child(4) {
  margin-bottom: 40px;
  position: relative;
}

.modal-item:nth-child(4)::after {
  content: '';
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 42px);
  height: 2px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}

@media screen and (min-width: 768px) {
  .modal-list {
    margin: 0 auto 32px;
    width: 488px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 54px;
    row-gap: 20px;
    position: relative;
    padding: 20px 20px 34px 20px;
  }

  .modal-item:not(:last-child),
  .modal-item:nth-child(4) {
    margin-bottom: 0;
  }

  .modal-item:nth-child(4)::after {
    display: none;
  }

  .modal-list::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;

    left: calc(20px + (100% - 40px - 54px) / 2 + 34px);

    width: 2px;
    background: linear-gradient(to bottom, #00c5eb 0%, #b544fe 100%);
  }
}

.icon-modal-item {
  fill: #fff;
}

.item-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-name {
  font-weight: 400;
  font-size: 12px;
}

.item-desk {
  font-weight: 400;
  font-size: 12px;
  color: #1ab9fd;
}

.modal-button {
  padding: 12px 0;
  font-weight: 700;
  font-size: 16px;
  width: 232px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal-button {
    width: 200px;
  }
}
