.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.subscription-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-welcome {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    background-color: var(--color-scheme-1-background);

    width: 288px;

    border-radius: 40px;
    padding: 64px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .modal-welcome {
        width: 704px;
        padding: 64px 30px;
    }
}

@media screen and (min-width:1440px) {
    .modal-welcome {
        width: 866px;
        padding: 64px 64px;
    }
}

.close-btn-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1440px) {
    .close-btn-backdrop {
        right: 73px;
    }
}