/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./features.css');
@import url('./video.css');
@import url('./team.css');
@import url('./feedback.css');
@import url('./footer.css');

@import url('./mobile_menu.css');
@import url('./modal.css');