.video-section {
    padding: 40px 0 321px;
    background-color: #06071B;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
.video-section {
    padding: 80px 0 338px 0;
}
}

@media screen and (min-width: 1440px) {
.video-section {
    padding: 60px 0 98px;
}
}

.video-title {
    color: #fff;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
.video-title {
   margin-bottom: 20px;
}
} 

@media screen and (min-width: 1440px) {
.video-title {
       text-align:start;
}
}

.video-text {
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
.video-text {
font-size: 16px;
margin-bottom: 20px;
}
} 

@media screen and (min-width: 1440px) {
.video-text {
    text-align:start;
    margin-bottom: 40px;
    max-width: 479px;
}
}

.download-app {
    width: 60px;
    height: 60px;
    border-radius: 50%;
background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
cursor: pointer;
position: relative;
z-index: 2;
}

.download-icon {
    fill: #fff;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
.btn-wrapper {
  justify-content:flex-start;
}
} 
.video-img {
    position: absolute;
    width: 100%;
    left: 0;
}

@media screen and (min-width: 768px) {
.video-img {
 left: 60%;
    transform: translateX(-50%);
}
} 

@media screen and (min-width: 1440px) {
.video-img {
top: 0;
left: 100%;
}
} 

.video-grad {
position: absolute;
top: -15px;
left: 0;
}

@media screen and (min-width: 1440px) {
.video-grad {
    top: 0;
left: 150px;
}
} 